In [40]:
import numpy as np
import pandas as pd
import sys, os

### Scheduling Analysis

In [179]:
df_logtime4 = pd.read_csv("./logTime_4runtimes.csv")
df_stoic = pd.read_csv("./logTime_stoic.csv")

In [185]:
df_edge = df_logtime4[df_logtime4["runtime"]=="edge"]
for index, row in df_edge.iterrows():
    if index % 4 != 0:
        print (index)
        sys.exit(0)

df_edge.reset_index(inplace=True)

In [183]:
df_stoic_front = df_stoic[0:len(df_edge)]

In [184]:
df_edge[df_stoic_front["image_num"] != df_edge["image_num"]]

Empty DataFrame
Columns: [index, epoch, image_num, runtime, pred_total, pred_transfer, pred_deploy, pred_proc, act_total, act_transfer, act_deploy, act_proc]
Index: []

In [200]:
runtimes = []
for index in range(0, len(df_logtime4), 4):
    minTime = float("inf")
    runtime = ""
    for i in range(index, index + 4):
        if (df_logtime4[i: i+1]["act_total"].item() < minTime):
            minTime = df_logtime4[i: i + 1]["act_total"].item()
            runtime = df_logtime4[i: i + 1]["runtime"].item()
    runtimes.append(runtime)

In [211]:
groundtruth_runtimes = pd.Series(runtimes)

In [205]:
stoic_runtimes = df_stoic_front["runtime"]

In [222]:
positive = stoic_runtimes[stoic_runtimes == groundtruth_runtimes]

In [218]:
df_logtime4.head(20)

,epoch,image_num,runtime,pred_total,pred_transfer,pred_deploy,pred_proc,act_total,act_transfer,act_deploy,act_proc
0,1579764229,11,edge,16.844805,0.000000,0.000000,16.844805,16.746481,0.000000,0.000000,16.746481
1,1579764287,11,cpu,16.844805,0.000000,0.000000,16.844805,25.698458,0.733205,9.395494,16.302963
2,1579764391,11,gpu1,16.844805,0.000000,0.000000,16.844805,62.181488,0.733205,51.573822,10.607664
3,1579764459,11,gpu2,16.844805,0.000000,0.000000,16.844805,26.180849,0.733205,15.416736,10.764112
4,1579764668,130,edge,76.283455,7.221685,30.530018,38.531754,203.689987,0.000000,0.000000,203.689987
5,1579764972,130,cpu,76.283455,7.221685,30.530018,38.531754,271.375061,7.221685,18.417835,252.957230
6,1579765092,130,gpu1,76.283455,7.221685,30.530018,38.531754,79.099144,7.221685,39.559486,39.539654
7,1579765189,130,gpu2,76.283455,7.221685,30.530018,38.531754,54.264236,7.221685,12.439073,41.825165
8,1579765429,174,edge,83.165215,11.250527,21.447374,50.467312,235.323853,0.000000,0.000000,235.323853
9,1579765733,174,cpu,83.165215,11.250527,21.447374,50.467312,272.982605,11.250527,15.464233,257.518372
10,1579765852,174,gpu1,83.165215,11.250527,21.447374,50.467312,77.626884,11.250527,33.468494,44.158390
11,1579765957,174,gpu2,83.165215,11.250527,21.447374,50.467312,63.413944,11.250527,18.440241,44.973705
12,1579766048,56,edge,47.116508,4.251892,21.447374,21.417244,86.437386,0.000000,0.000000,86.437386
13,1579766201,56,cpu,47.116508,4.251892,21.447374,21.417244,121.522873,4.251892,24.485426,97.037445
14,1579766274,56,gpu1,47.116508,4.251892,21.447374,21.417244,31.938160,4.251892,9.445772,22.492388
15,1579766354,56,gpu2,47.116508,4.251892,21.447374,21.417244,37.974232,4.251892,15.447186,22.527046
16,1579766461,66,edge,46.032017,3.908270,18.465143,23.658602,102.144073,0.000000,0.000000,102.144073
17,1579766634,66,cpu,46.032017,3.908270,18.465143,23.658602,142.167709,3.908270,27.446877,114.720825
18,1579766719,66,gpu1,46.032017,3.908270,18.465143,23.658602,43.382492,3.908270,18.488344,24.894150
19,1579766820,66,gpu2,46.032017,3.908270,18.465143,23.658602,58.622425,3.908270,34.042805,24.579620

In [219]:
df_stoic_front.head(20)

,epoch,image_num,runtime,pred_total,pred_transfer,pred_deploy,pred_proc,act_total,act_transfer,act_deploy,act_proc
0,1579880178,11,edge,17.615747,0.000000,0.000000,17.615747,16.691505,0.000000,0.000000,16.691505
1,1579880309,130,gpu1,77.877960,9.618354,18.773935,49.485672,88.415413,9.618354,45.575840,42.839573
2,1579880469,174,gpu1,86.789124,12.873796,18.773935,55.141392,99.843010,12.873796,36.495388,63.347622
3,1579880555,56,gpu1,48.346943,3.556118,21.407270,23.383554,43.340031,3.556118,21.456902,21.883131
4,1579880676,66,gpu1,51.808632,4.191139,21.407270,26.210224,60.385979,4.191139,27.481997,32.903984
5,1579880798,28,gpu1,38.689583,1.778059,21.435930,15.475595,56.812241,1.778059,30.473461,26.338781
6,1579880886,33,gpu1,42.089756,1.229063,21.435930,19.424761,35.442410,1.229063,12.445949,22.996460
7,1579880979,53,gpu2,48.736412,1.973949,24.415260,22.347204,49.745152,1.973949,28.014772,21.730377
8,1579881099,45,gpu2,42.958042,1.675995,21.592026,19.690023,52.838272,1.675995,21.436092,31.402180
9,1579881204,81,gpu1,63.719879,5.518443,24.423714,33.777721,49.316029,5.518443,9.436189,39.879841
10,1579881296,107,gpu1,73.744537,7.289795,24.423714,42.031029,49.738674,7.289795,15.448386,34.290287
11,1579881355,28,gpu2,40.574398,1.907610,21.420500,17.246288,27.247543,1.907610,15.439370,11.808174
12,1579881415,35,gpu2,42.322254,2.061128,21.420500,18.840626,28.024359,2.061128,15.432685,12.591674
13,1579881475,27,gpu2,37.593491,1.590013,21.420500,14.582979,27.281578,1.590013,15.419147,11.862431
14,1579881590,61,gpu2,53.302425,3.592251,21.469791,28.240383,51.014534,3.592251,15.444008,35.570526
15,1579881686,74,gpu1,60.467224,4.357812,24.433670,31.675741,43.780804,4.357812,9.497478,34.283325
16,1579881791,106,gpu1,71.710846,6.293914,24.438723,40.978210,53.421898,6.293914,9.411074,44.010822
17,1579881874,29,gpu2,38.259815,1.721920,21.420500,15.117395,40.538090,1.721920,24.567959,15.970130
18,1579881912,22,edge,33.935234,0.000000,0.000000,33.935234,33.297684,0.000000,0.000000,33.297684
19,1579881933,10,edge,15.539696,0.000000,0.000000,15.539696,16.010828,0.000000,0.000000,16.010828

### MSR

In [233]:
sum((df_stoic["pred_total"] - df_stoic["act_total"])**2) / len(df_stoic)

597.9151582357928

### MAE

In [235]:
sum(abs(df_stoic["pred_total"] - df_stoic["act_total"])) / len(df_stoic)

9.616440786003297

In [243]:
counter = 0
for index in range(2, len(df_logtime4), 4):
    if df_logtime4[index:index+1]["act_total"].item() < df_logtime4[index+1:index+2]["act_total"].item():
            counter += 1
print (counter)
print (counter / (len(df_logtime4)/4))

80
0.38461538461538464

In [237]:
df_logtime4[2:3]["act_total"]

2    62.181488
Name: act_total, dtype: float64

In [239]:
df_logtime4[3:4]["act_total"]

3    26.180849
Name: act_total, dtype: float64

In [242]:
df_logtime4.head()

,epoch,image_num,runtime,pred_total,pred_transfer,pred_deploy,pred_proc,act_total,act_transfer,act_deploy,act_proc
0,1579764229,11,edge,16.844805,0.000000,0.000000,16.844805,16.746481,0.000000,0.000000,16.746481
1,1579764287,11,cpu,16.844805,0.000000,0.000000,16.844805,25.698458,0.733205,9.395494,16.302963
2,1579764391,11,gpu1,16.844805,0.000000,0.000000,16.844805,62.181488,0.733205,51.573822,10.607664
3,1579764459,11,gpu2,16.844805,0.000000,0.000000,16.844805,26.180849,0.733205,15.416736,10.764112
4,1579764668,130,edge,76.283455,7.221685,30.530018,38.531754,203.689987,0.000000,0.000000,203.689987

In [244]:
df_gpu = pd.read_csv("./logTime_gpu.csv")

In [251]:
df_gpu.head()

,epoch,image_num,runtime,pred_total,pred_transfer,pred_deploy,pred_proc,act_total,act_transfer,act_deploy,act_proc
0,1580253468,10,gpu1,32.788548,0.622395,15.44597,16.720184,39.043522,0.622395,12.474292,26.569229
1,1580253536,10,gpu2,32.788548,0.622395,15.44597,16.720184,35.497833,0.622395,9.384888,26.112944
2,1580253605,10,gpu1,34.812485,0.622395,15.44597,18.744122,35.585957,0.622395,9.396529,26.189428
3,1580253675,10,gpu2,34.812485,0.622395,15.44597,18.744122,37.634655,0.622395,9.370968,28.263689
4,1580253743,10,gpu1,37.417950,0.811021,15.44597,21.160959,35.619240,0.811021,9.417418,26.201820

In [263]:
counter = 0
for index in range(0, len(df_gpu), 2):
    if df_gpu[index:index+1]["act_total"].item() > df_gpu[index+1:index+2]["act_total"].item():
#         print (df_gpu[index:+index+1])
#         print (df_gpu[index+1:+index+2])
        counter += 1
print ("Speed up count : ", counter)
print ("Speed up rate : ", round(counter/(len(df_gpu)/2), 2))

Speed up count :  40
Speed up rate :  0.67

In [ ]:
df_gpu